<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini AI</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <div class="sidebar">
        <div>
        </div>
    </div>

    <%- include("../auth/header.ejs") %>

        <div class="container">
            <aside>
            </aside>
            <div>
                <main>
                </main>
                <div id="footer">
                    <textarea type="text" id="input" placeholder="Ask me anything..." autofocus required></textarea>
                    <button type="submit" id="send">Send</button>
                </div>
            </div>


        </div>

        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="js/script.js"></script>

</body>

</html>