<div class="sidebar">
    <div>
    </div>
</div>
<header id="header">
    <div class="logo">
        <img src="./img/menu-dark.png" id="menu" alt="menu">
        <a href="/">
            <img id="loading" src="img/shine.gif" alt="logo">Gemini Ai
        </a>

    </div>

    <div class="dropdown">
        <ul>
            <a href="/login">Login</a>
            <span id="theme">Theme
                <div class="theme">
                    <ul id="themeoptions">
                        <a id="light">Light</a>
                        <a id="dark">Dark</a>
                    </ul>
                </div>
            </span>
            <a href="/#">Settings</a>
        </ul>
    </div>
    <div class="auth">
        <img id="profile" src="img/profile.jpg" alt="profile">
    </div>

</header>
<script>

    const profile = document.getElementById("profile");
    const dropdown = document.querySelector(".dropdown");
    const theme = document.getElementById("theme");
    const themeoptions = document.getElementById("themeoptions");
    const menu = document.getElementById("menu");
    const sidebar = document.querySelector(".sidebar");

    menu.addEventListener("click", (e) => {
        e.stopPropagation();
        sidebar.classList.toggle("open");
    });

    document.addEventListener('click', (e) => {
        const isClickInsideMenu = menu.contains(e.target);

        if (!isClickInsideMenu && sidebar.classList.contains("open")) {
            sidebar.classList.remove("open");
        }
    });

    document.addEventListener('click', (e) => {
        if (e.target.id === 'profile') {
            dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'flex' : 'none';
        } else if (!profile.contains(e.target) && !dropdown.contains(e.target)) {
            dropdown.style.display = 'none';
        }

    });

    theme.addEventListener('click', () => {
        themeoptions.style.display = (themeoptions.style.display === 'none' || themeoptions.style.display === '') ? 'flex' : 'none';
    });


    document.addEventListener('DOMContentLoaded', function () {

        const lightButton = document.getElementById('light');
        const darkButton = document.getElementById('dark');

        lightButton.addEventListener('click', function () {
            setTheme('light');
        });

        darkButton.addEventListener('click', function () {
            setTheme('dark');
        });

        function setTheme(theme) {
            const body = document.body;
            const header = document.querySelector('header');
            const menu = document.querySelector('#menu');

            body.classList.toggle('dark-mode', theme === 'dark');
            header.classList.toggle('dark-mode', theme === 'dark');
            menu.src = theme === 'dark' ? 'img/menu-light.png' : 'img/menu-dark.png';

            localStorage.setItem('darkMode', theme === 'dark');
        }

        const isDarkModeStored = localStorage.getItem('darkMode');
        if (isDarkModeStored === 'true') {
            setTheme('dark');
        } else {
            setTheme('light');
        }
    })

</script>