<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <%-include('./header.ejs')%>
        <div class="register">
            <form>
                <input type="email" name="email" placeholder="Email" required>
                <span class="errorEmail"></span>
                <input type="password" name="password" placeholder="Password" required>
                <span class="errorPassword"></span>
                <input type="password" name="cpassword" placeholder="Confirm Password" required>
                <div class="formfooter">
                    <a href="/login">Login</a>
                    <button id="submit" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <script>
            
            const form = document.querySelector('form');
            const errorEmail = document.querySelector('.errorEmail');
            const errorPassword = document.querySelector('.errorPassword');

            form.addEventListener('submit', async (e) => {

                e.preventDefault();

                errorEmail.textContent = '';
                errorPassword.textContent = '';

                const email = form.email.value;
                const password = form.password.value;
                const cpassword = form.cpassword.value;

                try {
                    const res = await fetch('/signup', {
                        method: 'POST',
                        body: JSON.stringify({ email, password, cpassword }),
                        headers: { 'Content-Type': 'application/json' }
                    })

                    const data = await res.json();
                    if (data.errors) {
                        errorEmail.textContent = data.errors.email;
                        errorPassword.textContent = data.errors.password;
                    }
                    if (data.user) {
                        location.assign('/');
                    }

                } catch (error) {
                    console.log(error)
                }
            })
        </script>

</body>

</html>