:root {
    --background-color-light: #F1F3F4;
    --background-color-dark: #1E1F20;
    --proper-color-dark: #131314;
    --text-color-light: #131314;
    --text-color-dark: #fff;
    --accent-color: green;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

aside.dark-mode {
    background-color: var(--proper-color-dark);
    color: var(--text-color-dark);
}

main.dark-mode {
    background-color: var(--proper-color-dark);
    color: var(--text-color-dark);
}

.dark-mode .box1 {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.dark-mode .box2 {
    color: var(--text-color-dark);
}

header.dark-mode {
    background-color: var(--background-color-dark);
}

.dark-mode .sidebar>div {
    background-color: var(--background-color-dark)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2.5px;
}

body,
html {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C1C1C1;
}

.container {
    display: grid;

}

header {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-items: start;
    font-size: 24px;
    padding: .8rem;
    background-color: var(--background-color-light);

}

.logo>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-light);
}

#menu {
    height: 2rem;
    position: absolute;
}

#loading {
    height: 2rem;
    margin-left: 2.6rem;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    background-color: red;
    position: absolute;
    right: 14px;
    top: 56px;
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: none;
    border-radius: .7rem;
    background-color: white;
    outline: none;
    border: 1px solid #ddd;
    color: #1E1F20;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.1s ease;
}

.dropdown>ul,
.theme>ul {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.dropdown>ul>a,
.dropdown>ul>span,
.theme>ul>a {
    padding: 3px;
    padding-left: 10px;
    border-radius: 0.2rem;
    padding-right: 10px;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
}

.dropdown>ul>a:hover,
.theme>ul>a:hover {
    background-color: var(--background-color-light);
}

.theme>ul {
    display: none;
}

.auth>img {
    object-fit: cover;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.login,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.login>form,
.register>form {
    display: flex;
    flex-direction: column;
    border-radius: .7rem;
    background-color: white;
    outline: none;
    border: 1px solid #ddd;
    justify-items: start;
    color: #1E1F20;
    padding: 3rem;
    width: 91vw;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.1s ease;
}


.login>form:hover,
.register>form:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}



.login>form>input,
.register>form>input {
    display: flex;
    border-radius: .7rem;
    outline: none;
    width: 80vw;
    margin: 1rem;
    margin-left: -25px;
    height: 3rem;
    border: 1px solid #ddd;
    padding: 1rem;
    color: #1E1F20;
}

.formfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -19px;
    width: 81.5vw;

}

.formfooter>a {
    color: #757575;
    text-decoration: none;
}

.formfooter>a:hover {
    text-decoration: underline;
}

#submit {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    margin: 1rem;

}

.sidebar {
    position: fixed;
    top: 3.6rem;
    z-index: 1;
    height: 100vh;
    width: 60%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar>div {
    height: 100%;
    background-color: var(--text-color-dark);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sidebar.open {
    transform: translateX(0);

}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div>div {
    display: grid;
    margin-bottom: 0;
}

.box1 {
    display: flex;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
}

.box1>img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .7rem;

}

.box1>div {
    display: flex;
    align-self: center;
}

.box2 {
    display: flex;
    color: var(--text-color-light);
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    justify-content: start;
    margin-left: 0.5rem;
}


.box2>img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: .7rem;

}

.loading {
    animation: zoom infinite .8s ease;
}

@keyframes zoom {

    0% {
        scale: 0%;
    }

    50% {
        scale: 114%
    }

    100% {
        scale: 0%;
    }
}


#show {
    margin-left: .4rem;
    width: 100%;
}

main {
    background-color: white;
    color: var(--text-color-light);
    padding: .5rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 3.3rem;

}

main::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;

}

main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C1C1C1;
}

#settings {
    display: none;
}

#input {
    border-radius: 1rem;
    outline: none;
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    padding-bottom: 0;
    color: #1E1F20;
    width: 90%;
    min-height: 3.2rem;
    max-height: 10rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: box-shadow 0.1s ease;
    resize: none;
    text-align: left;

}


#input::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#input::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #C1C1C1;
}

#input:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

button {
    background-color: var(--accent-color);
    color: white;
    outline: none;
    width: 5rem;
    height: 2.5rem;
    border-radius: .6rem;
    margin-right: .5rem;
    cursor: pointer;
}



@media screen and (min-width:768px) {

    body,
    html {
        background-color: var(--background-color-light);
    }

    header {

        padding-bottom: .4rem;

    }

    .auth>img {
        cursor: pointer;
        margin-right: 0.5rem;

    }


    #menu {
        display: none;
    }

    #loading {
        margin-left: 0.7rem;
    }

    .container {
        grid-template-columns: 1fr 4fr;

    }

    aside {
        display: grid;
        background-color: white;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 1rem;
        margin-top: 3.6rem;
        margin-right: 0;
        border-radius: 1rem;
        grid-template-columns: minmax(250px, auto) 1fr;
    }

    .login>form,
    .register>form {
        width: 23vw;


    }

    .login>form>input,
    .register>form>input {
        width: 20vw;

    }

    .formfooter {
        margin-left: -15px;
        width: 20.4vw;


    }

    #footer {
        justify-content: end;
        margin-bottom: 10px;

    }

    #settings {
        display: flex;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin: 1rem;
        margin-top: 0.3rem;
        justify-content: start;
        align-items: center;
        position: fixed;
        margin-right: 0;
        bottom: 0;
        z-index: 1;
        background-color: white;
        color: #131314;
        width: 16rem;
        border-radius: 1rem;
        padding-left: 1rem;
        cursor: pointer;
        height: 3.2rem;
    }

    #settings:hover {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
        transition: box-shadow 0.1s ease;
    }

    #settings:active {
        background-color: var(--background-color-light);
    }


    #settings>p {
        margin-left: 1rem;
    }


    button {
        margin-right: 1rem;
        margin-top: -0.6rem;

    }

    #input {
        margin: 0;
        margin-top: -0.7rem;
        margin-right: 1rem;
        width: 48vw;
        margin-left: 1rem;
    }

    main {
        margin: 1rem;
        border-radius: 1rem;
        padding: 1.5rem;
        height: 80vh;
        padding-left: 2.5rem;
        margin-top: 3.6rem;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
}

@media screen and (min-width:800px) {
    #input {

        width: 50vw;

    }
}

@media screen and (min-width:834px) {
    #input {

        width: 52.1vw;

    }
}

@media screen and (min-width:1024px) {
    #settings {
        width: 24.5vw;
    }

    #input {
        width: 61.2vw;
    }


}

@media screen and (min-width:1280px) {
    #settings {
        width: 19.5vw;
    }

    #input {
        width: 69vw;
    }


}


@media screen and (min-width:1440px) {
    #settings {
        width: 18.75vw;
    }

    #input {
        width: 71.1vw;
    }


}

@media screen and (min-width:2560px) {

    #settings {
        margin-top: 1.2rem;
    }

    #input {
        margin-top: 0.3rem;
    }


    button {
        margin-top: 0.3rem;
    }

    aside,
    main {
        margin-top: 5rem;
        height: 85vh;
    }

    #settings,
    #input {
        height: 5vh;
    }

    button {
        width: 6rem;
        height: 3.5rem;
    }
}